 .title-info-box .elm-price span
 { font-size: 5.4rem;

    font-weight: 400;
    text-transform: none;
  }
   .title-info-box .elm-price span.-red {
        color:red;
   }
 

a.videolink .button-ico {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a.videolink {
    position: relative;
    display: block;
}